header(my-header)
div(ng-controller="FavoritasCtrl as vm")
  h1()
    div() Estas son mis peliculas favoritas
  ol()
    li(ng-if="!vm.error" ng-repeat="favorita in vm.favoritas")
      div(class="pelicula-titulo") {{favorita.Title}}
      a(href="/#/pelicula" ng-click="vm.goToPelicula(favorita)")
        img(class="thumbnail" ng-src="{{favorita.Poster}}" alt="{{favorita.Title}}" )
      button(type="button" name="ver" ng-click="vm.goPeliculaButton(favorita)") ver detalles
      button(type="button" name="eliminar" ng-click="vm.eliminar(favorita)") Eliminar
  
