nav(class="navbar navbar-default main-header")
  div(class="container-fluid")
  ul(class="menu")
    li()
      a(href="#/peliculas") peliculas
    li()
      a(href="#/pelicula") pelicula
    li()
      a(href="#/favoritas") favoritas
    
