header(my-header)
div(class="container" ng-controller="PeliculasCtrl as vm")
  div(class="row")
    div(class="col-md-12")
      h1() Qué pelicula quieres ver??
      form(class="navbar-form navbar-left" novalidate)
        div(class="form-group")
          label(for="titulo") Titulo de la pelicula
          input(ng-model="vm.titulo" name="titulo" value="vm.titulo" required)
        div(class="form-group")
          label(for="titulo") ¿De algun año determinado?
          input(ng-model="vm.year" name="year" value="vm.year" required)
        div(class="form-group")
          label(for="buscar")
          input(type="submit" name="buscar" ng-click="vm.buscaPeliculas()" value="buscar")
      div()
        p() Pelicula buscada: {{vm.titulo}}
        p() Del año: {{vm.year}}
      div(class="error" ng-if="vm.error")
        p() Se ha producido un error
        p() {{vm.resultadoError}}
  div(class="row")
    div(class="col-md-12")
      ol()
        li(ng-if="!vm.error" ng-repeat="pelicula in vm.listaPeliculas")
          p(class="pelicula-titulo") {{pelicula.Title}}.. pulsa para ver
          a(href="/#/pelicula" ng-click="vm.goToPelicula(pelicula)")
            img(class="thumbnail" ng-src="{{pelicula.Poster}}" alt="{{pelicula.Title}}" )
